{% extends 'base.html.twig' %}

{% block title %}Tous les tricks !{% endblock %}

{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../img/jumbotron.jpg');height: 50vh;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" style="z-index: 1;">
                    <div class="site-heading">
                        <h1>Devenez une légende du Snowboard !</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {# loop tricks #}
    <div class="container">
        <h1 class="mb-5" >Toutes les figures</h1>
        <div class="row" >
            {% for trick in all_tricks %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="img/Tricks/tricks.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.name }}</h5>
                            <p class="card-text">{{ trick.description|slice(0, 50) ~ '...' }}</p>
                            <a href="/trick/{{ trick.id }}" class="btn btn-primary">Voir la figure</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
